.App {
  text-align: center;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.navigation-bar a {
  padding: 30px;
  text-decoration: none;
  color: black;
}

.nav-links a.active {
  font-weight: bold;
}

.friend-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.friend-card {
  border: 1px solid;
  box-shadow: 0 0 8px gray;
  width: 300px;
  margin: 20px;
  padding: 25px;
  background: #FAFAFA;
}

ul {
  list-style-type: none;
}

li {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

.friend-form {
  border: 1px solid;
  height: 350px;
  width: 350px;
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #FAFAFA;
}

.friend-form input {
  border: none;
  border-bottom: 1px solid silver;
  width: 250px;
  margin: 15px auto;
  padding-left: 10px;
  background: #FAFAFA;
}

.friend-form .add-friend {
  width: 50px;
  margin: 15px auto;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  background: #FAFAFA;
  font-size: 25px;
}

input:focus,
button:focus {
  outline: none;
}